.card{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: .25rem;
    margin-bottom: 10px;
    background-color: rgb(236, 236, 236);
    box-shadow: 0 0 5px 2px rgba(0,0,0,.3);
    transform-style: preserve-3d;
    height: 300px;
    width: 500px;
    transition: 150ms;
    cursor: pointer;
    transform: perspective(1000px) rotateY(var(--rotate-y,0)) translateY(var(--translate-y,0));
}
.card:hover{
    --translate-y: -2px;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
}

.flip{
    --rotate-y:180deg;
}

.card .front,
.card .back{
    position: absolute;
    padding: 1rem;
    backface-visibility: hidden;
    font-size: 20px;
}

.card .back{
    transform: rotateY(180deg);
}

.icons{
    text-align: right;    
}

.icons .checkicon{
    width: 30px;
    height: 20px;
    color: rgb(59, 59, 59);
}

.icons .done{
    color: red;
}

.icons .edit{
    margin: 0 20px;
}