.footer{
    margin: 100px 0 40px;
    text-align: center;
}

.footer p{
    margin: 5px 0;
}

@media (max-width: 768px) {
  .footer{
    position: relative;
    left: 25%;
    width: 400px;
    margin: auto;
}

.footer p{
    font-size: 13px;
}
}