.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  color: #333;
  height: 60px;
  padding: 0 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header a {
  color: #333;
  margin-right: 20px;
}

.header a:hover {
  color: #000;
}
.header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.logo {
  color: red;
  font-size: 20px;
  text-transform: uppercase;
}

.logo a {
  color: red;
}

.header .login{
  display: inline-block;
  background: red;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
}

.header .login:hover {
  opacity: 0.9;
}

@media (max-width: 768px) {
  .header {
    flex-direction: row;
    height: auto;
    width: fit-content;
  }

  .header ul {
    margin: 20px 0;
    justify-content: flex-end;
    text-align: center;
  }

  .header a {
    margin:0 20px;
  }

  .logo {
    margin: 20px 0;
    margin-right: 180px;
  }
}
